<div class="section-title">Form</div>

<div>
  <div class="input-field">
    <div class="input-field-label">First name</div>
    <input #firstname />
  </div>

  <div class="input-field">
    <div class="input-field-label">Surname</div>
    <input #surname />
  </div>

  <div class="input-field">
    <div class="input-field-label">E-Mail</div>
    <input #email type="email"/>
  </div>
  
  <button type="button" class="add-button" (click)="firstname.value = ''">
    Add person
  </button>
</div>
